:host {
  display: block;
}

mat-toolbar {
  height: 56px;
  justify-content: space-between;
  padding: 0 16px;
  background: white;
}

#toolbar-start {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
