#header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2020;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

#sidenav-container {
  position: fixed;
  left: 0;
  top: 56px;
  width: 240px;
  height: -moz-calc(100% - 56px);
  height: -ms-calc(100% - 56px);
  height: -o-calc(100% - 56px);
  height: -webkit-calc(100% - 56px);
  height: calc(100% - 56px);
  overflow: hidden;
}

#sidenav-container:hover{
  overflow-y: auto;
}

#content {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

#main-container {
  margin-top: 56px;
  margin-left: 240px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  height: 56px;
  background: hsla(0, 0%, 53.3%, 0.4);
}
