<div id="content">
  <div id="header-container" >
    <app-header >
      <div id="toolbar-start" >
        <app-header-icon-button  ></app-header-icon-button>
        <app-logo-icon></app-logo-icon>

      </div>
      <div id="toolbar-center" ></div>
      <div id="toolbar-end" ></div>
      </app-header>
  </div>
  <div id="sidenav-container" >
    <app-sidenav #sidenav ></app-sidenav>
  </div>
  <div id="main-container" [style.margin-left]="sidenav.navWidth">
    <p>1Teste</p>
    <p>2Teste</p>
    <p>3Teste</p>
    <p>4Teste</p>
    <p>5Teste</p>
    <p>6Teste</p>
    <p>7Teste</p>
    <p>8Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
    <p>Teste</p>
  </div>
</div>
